@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #13171b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* MY CUSTOM CSS  */
/* body {
  @apply bg-gray-900 text-white;
} */

.game-container {
  @apply bg-gray-800 shadow-lg text-black;
  /* transform-origin: top center; */
}


.game-container {
  /* transform-origin: top center; */
}

@media (min-width: 900px) {
  .game-container {
    /* transform: scale(1.5); */
  }
}

@media (max-width: 600px) and (orientation: landscape) {
  .game-container {
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
  }
}

